[SddmGreeterTheme]
Name=sddm-video-win10
Description=Windows 10-styled theme with video background support
License=GNU GPLv3 
Type=sddm-theme
Version=1.0
MainScript=Main.qml
Theme-Id=sddm-video-music-theme
Theme-API=2.0
Screenshot=./screenshots/screenshot_login_ui.png
